In [1]:
import os
import pandas as pd

In [7]:
dapall_table = pd.read_csv('/Users/mmckay/Desktop/gumby-spectral-imaging_fork/HSI/sdss_manga_dapall_data/drpall.txt', sep='|')
dapall_table

,Unnamed: 0,Objra,Objdec,mangaid,plateifu,Unnamed: 5
0,NaN,194.523424,29.017353,1-404249,8935-12701,NaN
1,NaN,298.033710,27.752152,7-18517934,9118-12701,NaN
2,NaN,332.602090,11.713077,1-114955,7977-12701,NaN
3,NaN,126.910630,21.256855,1-412866,9494-12701,NaN
4,NaN,77.621562,49.421073,7-26306340,8705-12701,NaN
...,...,...,...,...,...,...
11460,NaN,233.165629,43.057807,1-199224,9870-9102,NaN
11461,NaN,322.840400,60.237536,3-21676518,9292-9102,NaN
11462,NaN,121.744779,46.562969,1-44693,8719-9102,NaN
11463,NaN,121.434741,46.024424,1-44660,8718-9102,NaN
11464,NaN,70.321850,25.525777,3-25131275,9288-9102,NaN

In [15]:
dapall_table.columns = dapall_table.columns.str.strip()
dapall_table.columns
dapall_table.drop_duplicates(subset='plateifu', keep='first', inplace=True)
dapall_table.drop('Unnamed: 0', axis=1, inplace=True)
dapall_table.drop('Unnamed: 5', axis=1, inplace=True)
dapall_table

KeyError: "['Unnamed: 0'] not found in axis"

In [17]:
dapall_table.to_csv('/Users/mmckay/Desktop/gumby-spectral-imaging_fork/HSI/sdss_manga_dapall_data/drpall.csv', index=False)

In [22]:
# Generate random sample of 1000 galaxies from drpall.csv
dapall_table_subsample = pd.read_csv('/Users/mmckay/Desktop/gumby-spectral-imaging_fork/HSI/sdss_manga_dapall_data/drpall.csv')
dapall_table_subsample.sample(n=1000).to_csv('/Users/mmckay/Desktop/gumby-spectral-imaging_fork/HSI/sdss_manga_dapall_data/drpall_random_subsample.csv', index=False)

In [24]:
dapall_table_subsample = pd.read_csv('/Users/mmckay/Desktop/gumby-spectral-imaging_fork/HSI/sdss_manga_dapall_data/drpall_random_subsample.csv')
dapall_table_subsample

          Objra     Objdec        mangaid       plateifu
0    247.142440  39.418589      1-210748      8550-1902
1    132.465647  57.143728       1-48111     10001-3701
2    241.799551  48.572563       1-92626      8482-9101
3    193.541960  43.266985     7-9150970      8797-3702
4    208.769430  31.736437   3-137518774     9544-12702
..          ...        ...            ...            ...
995  219.227541  46.801768      1-321256      9868-6102
996   25.997006 -16.949622   3-105706310      8660-6103
997  120.655608  26.293554      1-163894      8149-6101
998   92.930030  44.520460         4-916      8102-6102
999   63.405724  22.965983    7-25250976      8778-9101

[1000 rows x 4 columns]